<div class="app__player">
    <div class="app__player--title">
        <h1>hossan</h1>
        <h3>call of duty</h3>
        <h3>PC</h3>
    </div>

    <div class="app__player--content">
        <div class="image">
            <img src="img/playerProfil.png">
        </div>

        <div class="text">
            <h3>About</h3>
            <p>Im hossam 25 years old living in kuwait</p>
            <h3>description</h3>
            <p>I play pingbong for fun every friday from 6-8pm a bit skilled and won 1 local tournament</p>
            <h3>type of game</h3>
            <p>physical</p>
            <h3>name of game</h3>
            <p>pingpong</p>
        </div>

    </div>
    <div class="app__player--btn">
        <p>leave a message</p>
    </div>
</div>