<%- include('./pages/header.ejs') %>

<div class="app">
  <div class="app__home">
    <div class="app__home--header">
      <div class="title">
        <img src="img/logo.png" alt="" srcset="" />
      </div>
      <div class="nav">
        <p>PLAYERS</p>
        <p>TEAMS</p>
        <p>FORUMS</p>
        <p>REGISTER</p>
        <p>LOGIN</p>
      </div>
    </div>
    <div class="app__home--content">
      <h1 class="title">Ready to find your gamer Partner?</h1>
      <form action="/search" method="get" class="form">
        <div>
          <button type="submit">
            <img src="img/search.png" alt="" srcset="" />
          </button>
          <input
            type="text"
            name="search"
            id="search"
            placeholder="try searching : pingpong"
          />
        </div>
      </form>
    </div>
  </div>
  <div class="app__slide">
    <div class="app__slide--title">
      <h1>Why TeamUp ?</h1>
    </div>
    <div class="app__slide--slide">
      <div class="container">
        <div class="wrapper">
          <div class="wrapper__one">
            <img src="img/1.png" />
          </div>
          <div class="wrapper__two">
            <img src="img/2.png" />
          </div>
          <div class="wrapper__three">
            <img src="img/3.png" />
          </div>
          
        </div>
        <div class="prev">
            <img src="img/fleche.png" >
        </div>
          <div class="next">
            <img src="img/fleche.png" >

          </div>
      </div>
    </div>
    <div class="app__slide--footer">
      <h3>Copyright 2022</h3>
    </div>
  </div>
</div>

<%- include('./pages/footer.ejs') %>
