<div class="app__login">
    <div class="app__login--header">
        <h1 class="title">connection</h1>
    </div>
    <div class="app__login--content">
        <div class="form">
            <form action="" method="post">
                <div>
                    <label for="email">email</label>
                    <input type="email" id="email" name="email"/>
                </div>
        
                <div>
                    <label for="password">password</label>
                    <input type="password" name="password" id="password">
                </div>
                <div>
                    <button type="submit">login</button>
                </div>
            </form>
        </div
    </div>
</div>