<div class="app__home">
   
    <div class="app__home--content">
      <h1 class="title">Ready to find your gamer Partner?</h1>
      <form action="/search" method="get" class="form">
        <div>
          <button type="submit">
            <img src="img/search.png" alt="" srcset="" />
          </button>
          <input
            type="text"
            name="search"
            id="search"
            placeholder="try searching : pingpong"
          />
        </div>
      </form>
    </div>
  </div>