<div class="app__register">
    <div class="app__register--header">
        <h1 class="title">Create your account</h1>
    </div>
    <div class="app__register--content">
        <div class="form">
            <form action="" method="post">
                <div>
                    <label for="firstName">first name</label>
                    <input type="text" id="firstName" name="firstName" />
                </div>
    
                <div>
                    <label for="lastName">last name</label>
                    <input type="text" id="lastName" name="lastName"/>
                </div>
    
                <div>
                    <label for="Username">last name</label>
                    <input type="text" id="Username" name="Username"/>
                </div>

                <div>
                    <label for="email">email</label>
                    <input type="email" id="email" name="email"/>
                </div>

                <div>
                    <label for="birthdate">Birthdate</label>
                    <input type="date" name="birthdate" id="birthdate">
                </div>
               
                <div>
                    <label for="password">password</label>
                    <input type="password" name="password" id="password">
                </div>

                <div>
                    <label for="confirmPassword">confirm password</label>
                    <input type="password" name="confirmPassword" id="confirmPassword">
                </div>

                <button type="submit">register</button>
            </form>
        </div
    </div>
</div>