<div class="app__forums">
    <div class="app__forums--header">
        <h1 class="title">Forums</h1>
    </div>
    <div class="app__forums--content">
        <div class="form">
            <h3 class="title">Topics</h3>
            <h2 class="phycial"><a href="/physical"> PHYISICAL GAMING</a></h2>
            <h2 class="digital"><a href="/digital"> DIGITAL GAMING</a></h2>
        </div
    </div>
</div>