<div class="app__digital">
    <div class="app__digital--header">
        <h1 class="title">call of duty</h1>
    </div>
    <div class="app__digital--content">
        <div class="form">
           <div>
            <p>dam tempore quia officia ratione neque libero ab, quidem eligendi deserunt provident, pariatur dolorem necessitatibus ad distinctio ducimus? Nihil?</p>
           </div>

           </div
        </div>
        <p class="back"><a href="/forums">back</a></p>
</div>