<div class="app__createTeam">
    <div class="app__createTeam--header">
        <h1 class="title">Create your forum</h1>
    </div>
    <div class="app__createTeam--content">
        <div class="form">
            <form action="" method="post">
    
                <div>
                    <label for="name">Topic</label>
                    <input type="text" id="name" name="name"/>
                </div>
    
                <div>
                    <label for="desc">Describe your topic</label>
                    <textarea name="desc" id="desc" cols="30" rows="10"></textarea>
                </div>

               
                <div>
                    <label for="topic">Type of the topic</label>
                    <select name="topic" id="topic" >
                        <option value="phyisical">Phyisical</option>
                        <option value="digital">Digital</option>
                    </select>
                </div>


                <button type="submit">submit</button>
            </form>
        </div
    </div>
</div>