<div class="app__createPlayer">
    <div class="app__createPlayer--header">
        <h1 class="title">Create your Player card</h1>
    </div>
    <div class="app__createPlayer--content">
        <div class="form">
            <form action="" method="post">
                <div class="logo">
                    <label for="image">Upload your profile photo</label>
                    <div class="wrapper">
                        <input type="file" id="image" name="image" class="file"/>
                    </div>
                </div>
    
                <div>
                    <label for="name">Name of the game</label>
                    <input type="text" id="name" name="name"/>
                </div>
    
                <div>
                    <label for="about">About</label>
                    <textarea name="about" id="about" cols="30" rows="10"></textarea>
                </div>

                <div>
                    <label for="descTeam">Describe yourself</label>
                    <textarea name="descTeam" id="descTeam" cols="30" rows="5"></textarea>
                </div>
               
                <div>
                    <label for="game">Type of the game</label>
                    <select name="game" id="game" >
                        <option value="phyisical">Phyisical</option>
                        <option value="digital">Digital</option>
                    </select>
                </div>

                
                <div>
                    <label for="level">Skill level</label>
                    <select name="level" id="level">
                        <option value="beginner">Beginner</option>
                        <option value="intermediate">intermediate</option>
                        <option value="skilled">Skilled</option>
                        <option value="pro">pro</option>
                    </select>
                </div>

                <button type="submit">submit</button>
            </form>
        </div
    </div>
</div>