<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="js/app.js" defer></script>
    <title>gameOf</title>
  </head>
  <body>

    <!-- the main application -->
<div class="app">

    <div class="app__header">
      <div class="title">
        <a href="/">
          <img src="img/logo.png" alt="" srcset="" />
        </a>
      </div>
      <div class="nav">
        <p><a href="/players">PLAYERS</a></p>
        <p><a href="/teams">TEAMS</a></p>
        <p><a href="/forums">FORUMS</a></p>
        
        <!-- <p><a href="/register">REGISTER</a></p>
        <p><a href="/login">LOGIN</a></p> -->
        <div class="nav__connected">
          <div class="title">
            <img src="img/message.png" class="img1"/> 
            <p>Welcome Hossam</p>
            <img src="img/card.png" class="img2">
          </div>
          <div class="card">
            <p><a href="/CreatePlayer">create player card</a></p>
            <p><a href="/CreateTeam">create Team card</a></p>
            <p><a href="/CreateForum">create forum</a></p>
            <p><a href="/">logout</a></p>
          </div>
        </div>
      </div>
    </div>
 
