* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: red;
}

.app {
  height: 200vh;
  width: 100%;
  overflow: hidden;
  background-image: url(../../img/home.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-attachment: fixed;
  font-family: Roboto;
}
.app__home {
  height: 50%;
  width: 100%;
  padding-top: 10%;
}
.app__home--header {
  width: 100%;
  height: 8%;
  background-color: #00000083;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}
.app__home--header .title {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__home--header .title img {
  width: 140px;
}
.app__home--header .nav {
  padding-right: 5%;
  width: 55%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffff;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.app__home--header .nav p:nth-child(4) {
  background-color: red;
  border-radius: 26px;
  padding: 5px 10px;
}
.app__home--header .nav P:last-child {
  background-color: #ffff;
  color: #000;
  border-radius: 26px;
  padding: 5px 10px;
}
.app__home--content {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app__home--content .title {
  color: #ffff;
  text-transform: capitalize;
  font-weight: bolder;
}
.app__home--content .form {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.app__home--content .form div {
  background-color: #ffff;
  width: 65%;
  height: 50%;
  border-radius: 26px;
  padding: 0 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__home--content .form div button {
  border: none;
  background-color: #ffff;
  border: none;
  outline: none;
  width: 5%;
}
.app__home--content .form div button img {
  width: 50%;
  height: auto;
}
.app__home--content .form div input {
  width: 95%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 26px;
  background-color: #ffff;
  padding: 0 0 0 10px;
}
.app__slide {
  height: 50%;
  width: 100%;
}
.app__slide--title {
  height: 37%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__slide--title h1 {
  color: #ffff;
  font-weight: bolder;
  font-size: 3em;
}
.app__slide--slide {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__slide--slide .container {
  width: 75%;
  height: 75%;
  border-radius: 26px;
  position: relative;
  overflow: hidden;
}
.app__slide--slide .container .prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 50px;
  height: 50px;
  z-index: 100;
  margin: 10px;
}
.app__slide--slide .container .next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%) rotate(-180deg);
  width: 50px;
  height: 50px;
  z-index: 100;
  margin: 10px;
}
.app__slide--slide .container .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  transition: all 1s;
}
.app__slide--slide .container .wrapper > * {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 26px;
}
.app__slide--slide .container .wrapper > * img {
  height: 100%;
  width: 100%;
}
.app__slide--slide .container .wrapper__one::after {
  content: "Discuss a topic with other players in whatever field in our custom forums.";
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffff;
  font-size: 3em;
  font-weight: bolder;
  text-transform: capitalize;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 50%;
  text-align: center;
}
.app__slide--slide .container .wrapper__two::after {
  content: "You can create a team or join a team with a simple click thanks to the cards display system. ";
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffff;
  font-size: 3em;
  font-weight: bolder;
  text-transform: capitalize;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 50%;
  text-align: center;
}
.app__slide--slide .container .wrapper__three::after {
  content: "Find a player to play with in seconds in whatever game you like.";
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffff;
  font-size: 3em;
  font-weight: bolder;
  text-transform: capitalize;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 50%;
  text-align: center;
}
.app__slide--footer {
  height: 3%;
  background-color: red;
  text-align: center;
  color: #ffff;
}

/*# sourceMappingURL=style.css.map */
