* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: red;
}

.app {
  height: auto;
  width: 100%;
  overflow: hidden;
  background-image: url(../../img/home.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-attachment: fixed;
  font-family: Roboto;
}
.app__header {
  width: 100%;
  height: 8vh;
  background-color: #00000083;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
}
.app__header .title {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__header .title img {
  width: 140px;
}
.app__header .nav {
  width: 65%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffff;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.app__header .nav > p {
  width: min-content;
}
.app__header .nav > p a {
  color: white;
  text-decoration: none;
}
.app__header .nav__connected {
  width: 40%;
  position: relative;
}
.app__header .nav__connected:hover .card {
  height: max-content;
  pointer-events: initial;
  opacity: 1;
}
.app__header .nav__connected:hover .card p a {
  opacity: 1;
}
.app__header .nav__connected:hover .card p:last-child {
  opacity: 1;
}
.app__header .nav__connected .title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.app__header .nav__connected .title .img1 {
  width: 15%;
}
.app__header .nav__connected .title p {
  width: 60%;
  padding: 0;
  font-size: 0.8em;
  text-transform: capitalize;
  font-weight: bolder;
}
.app__header .nav__connected .title .img2 {
  width: 8%;
}
.app__header .nav__connected .card {
  position: absolute;
  background-color: white;
  width: 60%;
  left: 23%;
  height: 0px;
  pointer-events: none;
  opacity: 0;
  transition: all 0.4s;
}
.app__header .nav__connected .card p {
  margin: 10px;
}
.app__header .nav__connected .card p a {
  font-size: 0.9em;
  color: black;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bolder;
}
.app__header .nav__connected .card p a:hover {
  text-decoration: underline;
  transition: all 0.3s;
}
.app__header .nav__connected .card p:last-child {
  background-color: red;
  border-radius: 26px;
  width: 50%;
  padding: 5px;
  position: relative;
  left: 20%;
  color: #fff;
  opacity: 0;
}
.app__header .nav p:nth-child(4) {
  background-color: red;
  border-radius: 26px;
  padding: 5px 15px;
  width: min-content;
}
.app__header .nav p:nth-child(4) a {
  color: inherit;
  text-decoration: none;
}
.app__header .nav P:last-child {
  width: min-content;
  background-color: #ffff;
  color: #000;
  border-radius: 26px;
  padding: 5px 15px;
}
.app__header .nav P:last-child a {
  color: inherit;
  text-decoration: none;
}
.app__home {
  height: 100vh;
  width: 100%;
  padding-top: 10%;
}
.app__home--content {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app__home--content .title {
  color: #ffff;
  text-transform: capitalize;
  font-weight: bolder;
}
.app__home--content .form {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.app__home--content .form div {
  background-color: #ffff;
  width: 65%;
  height: 50%;
  border-radius: 26px;
  padding: 0 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__home--content .form div button {
  border: none;
  background-color: #ffff;
  border: none;
  outline: none;
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__home--content .form div button img {
  width: 45%;
  height: auto;
}
.app__home--content .form div input {
  width: 95%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 26px;
  background-color: #ffff;
  padding: 0 0 0 10px;
}
.app__slide {
  height: 100vh;
  width: 100%;
}
.app__slide--title {
  height: 37%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__slide--title h1 {
  color: #ffff;
  font-weight: bolder;
  font-size: 3em;
}
.app__slide--slide {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__slide--slide .container {
  width: 75%;
  height: 75%;
  border-radius: 26px;
  position: relative;
  overflow: hidden;
}
.app__slide--slide .container .prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 50px;
  height: 50px;
  z-index: 100;
  margin: 10px;
}
.app__slide--slide .container .next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%) rotate(-180deg);
  width: 50px;
  height: 50px;
  z-index: 100;
  margin: 10px;
}
.app__slide--slide .container .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  transition: all 1s;
}
.app__slide--slide .container .wrapper > * {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 26px;
}
.app__slide--slide .container .wrapper > * img {
  height: 100%;
  width: 100%;
}
.app__slide--slide .container .wrapper__one::after {
  content: "Discuss a topic with other players in whatever field in our custom forums.";
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffff;
  font-size: 3em;
  font-weight: bolder;
  text-transform: capitalize;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 50%;
  text-align: center;
}
.app__slide--slide .container .wrapper__two::after {
  content: "You can create a team or join a team with a simple click thanks to the cards display system. ";
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffff;
  font-size: 3em;
  font-weight: bolder;
  text-transform: capitalize;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 50%;
  text-align: center;
}
.app__slide--slide .container .wrapper__three::after {
  content: "Find a player to play with in seconds in whatever game you like.";
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffff;
  font-size: 3em;
  font-weight: bolder;
  text-transform: capitalize;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 50%;
  text-align: center;
}
.app__slide--footer {
  height: 3%;
  background-color: red;
  text-align: center;
  color: #ffff;
}
.app__register {
  height: 100vh;
  background-color: #fff;
  position: relative;
}
.app__register--header {
  height: 35%;
  background-image: url(../../img/register.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__register--header .title {
  margin-top: 8%;
  text-transform: capitalize;
  font-weight: bolder;
}
.app__register--content {
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__register--content .form {
  height: 80%;
  width: 90%;
}
.app__register--content .form form {
  position: relative;
}
.app__register--content .form form div {
  margin: 2%;
}
.app__register--content .form form div label {
  text-transform: capitalize;
  font-weight: bolder;
  font-size: 1.3em;
  display: inline-block;
  width: 25%;
}
.app__register--content .form form div input {
  border: none;
  height: 1.6em;
  display: inline-block;
  width: 20%;
  background-color: #c4c4c4;
}
.app__register--content .form form button {
  position: absolute;
  right: 0;
  background-color: red;
  border-radius: 26px;
  padding: 5px 15px;
  border: none;
  color: #ffff;
  text-transform: capitalize;
  font-weight: bolder;
}
.app__register--alert {
  position: absolute;
  right: 25%;
  top: 35%;
  background-color: #ca0909b4;
  border: 2px solid red;
  color: white;
  width: 50vw;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__register--alert p {
  margin: 5px 20px;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
}
.app__login {
  height: 100vh;
  background-color: #fff;
  position: relative;
}
.app__login--header {
  height: 35%;
  background-image: url(../../img/register.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__login--header .title {
  margin-top: 8%;
  text-transform: capitalize;
  font-weight: bolder;
}
.app__login--content {
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__login--content .form {
  height: 80%;
  width: 90%;
}
.app__login--content .form form {
  position: relative;
}
.app__login--content .form form div {
  margin: 2%;
}
.app__login--content .form form div label {
  text-transform: capitalize;
  font-weight: bolder;
  font-size: 1.3em;
  display: inline-block;
  width: 15%;
}
.app__login--content .form form div input {
  border: none;
  height: 1.6em;
  display: inline-block;
  width: 20%;
  background-color: #c4c4c4;
}
.app__login--content .form form div button {
  background-color: red;
  border-radius: 26px;
  padding: 5px 15px;
  border: none;
  color: #ffff;
  text-transform: capitalize;
  font-weight: bolder;
}
.app__login--alert {
  position: absolute;
  right: 25%;
  top: 35%;
  background-color: #84cc17b1;
  border: 2px solid green;
  color: black;
  width: 50vw;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__login--alert p {
  margin: 5px 20px;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
}
.app__createPlayer {
  background-color: #fff;
}
.app__createPlayer--header {
  height: 35vh;
  background-image: url(../../img/register.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__createPlayer--header .title {
  margin-top: 8%;
  text-transform: capitalize;
  font-weight: bolder;
}
.app__createPlayer--content {
  height: 80%;
}
.app__createPlayer--content .form {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.app__createPlayer--content .form form {
  height: 100%;
  width: 30vw;
}
.app__createPlayer--content .form form .logo .wrapper {
  width: 140px;
  height: 140px;
  margin: auto;
  border-radius: 50%;
  background-image: url(../../img/create.png);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.app__createPlayer--content .form form .logo .wrapper::before {
  content: " ";
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, 0);
  background-image: url(../../img//profile.png);
  background-size: cover;
  background-position: center;
}
.app__createPlayer--content .form form .logo .wrapper .file {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 60px;
  color: #ffffff67;
  background-color: #ffffff67;
}
.app__createPlayer--content .form form .logo .wrapper .file::-webkit-file-upload-button {
  visibility: hidden;
}
.app__createPlayer--content .form form div {
  margin: 3vh 0;
}
.app__createPlayer--content .form form div label {
  display: block;
  text-align: center;
  font-size: 1.4em;
  font-weight: bolder;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.app__createPlayer--content .form form div input {
  display: block;
  width: 100%;
  background-color: #e1e1e1;
  border: none;
  outline: none;
  height: 24px;
  width: 100%;
  border-radius: 5px;
}
.app__createPlayer--content .form form div textarea {
  background-color: #e1e1e1;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
}
.app__createPlayer--content .form form div select {
  background-color: #e1e1e1;
  width: 100%;
  border: none;
  outline: none;
  height: 24px;
  border-radius: 5px;
}
.app__createPlayer--content .form form div #level {
  margin-bottom: 100px;
}
.app__createPlayer--content .form form button {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: red;
  border-radius: 26px;
  padding: 5px 15px;
  border: none;
  color: #ffff;
  text-transform: capitalize;
  font-weight: bolder;
  margin: 20px;
}
.app__createTeam {
  background-color: #fff;
}
.app__createTeam--header {
  height: 35vh;
  background-image: url(../../img/register.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__createTeam--header .title {
  margin-top: 8%;
  text-transform: capitalize;
  font-weight: bolder;
}
.app__createTeam--content {
  height: 80%;
}
.app__createTeam--content .form {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.app__createTeam--content .form form {
  height: 100%;
  width: 30vw;
}
.app__createTeam--content .form form .logo .wrapper {
  width: 140px;
  height: 140px;
  margin: auto;
  border-radius: 50%;
  background-image: url(../../img/create.png);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.app__createTeam--content .form form .logo .wrapper::before {
  content: " ";
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, 0);
  background-image: url(../../img//profile.png);
  background-size: cover;
  background-position: center;
}
.app__createTeam--content .form form .logo .wrapper .file {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 60px;
  color: #ffffff67;
  background-color: #ffffff67;
}
.app__createTeam--content .form form .logo .wrapper .file::-webkit-file-upload-button {
  visibility: hidden;
}
.app__createTeam--content .form form div {
  margin: 3vh 0;
}
.app__createTeam--content .form form div label {
  display: block;
  text-align: center;
  font-size: 1.4em;
  font-weight: bolder;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.app__createTeam--content .form form div input {
  display: block;
  width: 100%;
  background-color: #e1e1e1;
  border: none;
  outline: none;
  height: 24px;
  width: 100%;
  border-radius: 5px;
}
.app__createTeam--content .form form div textarea {
  background-color: #e1e1e1;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
}
.app__createTeam--content .form form div select {
  background-color: #e1e1e1;
  width: 100%;
  border: none;
  outline: none;
  height: 24px;
  border-radius: 5px;
}
.app__createTeam--content .form form div #level {
  margin-bottom: 100px;
}
.app__createTeam--content .form form button {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: red;
  border-radius: 26px;
  padding: 5px 15px;
  border: none;
  color: #ffff;
  text-transform: capitalize;
  font-weight: bolder;
  margin: 20px;
}
.app__createForum {
  background-color: #fff;
}
.app__createForum--header {
  height: 35vh;
  background-image: url(../../img/register.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__createForum--header .title {
  margin-top: 8%;
  text-transform: capitalize;
  font-weight: bolder;
}
.app__createForum--content {
  height: 80%;
}
.app__createForum--content .form {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.app__createForum--content .form form {
  height: 100%;
  width: 30vw;
}
.app__createForum--content .form form .logo .wrapper {
  width: 140px;
  height: 140px;
  margin: auto;
  border-radius: 50%;
  background-image: url(../../img/create.png);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.app__createForum--content .form form .logo .wrapper::before {
  content: " ";
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, 0);
  background-image: url(../../img//profile.png);
  background-size: cover;
  background-position: center;
}
.app__createForum--content .form form .logo .wrapper .file {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 60px;
  color: #ffffff67;
  background-color: #ffffff67;
}
.app__createForum--content .form form .logo .wrapper .file::-webkit-file-upload-button {
  visibility: hidden;
}
.app__createForum--content .form form div {
  margin: 3vh 0;
}
.app__createForum--content .form form div label {
  display: block;
  text-align: center;
  font-size: 1.4em;
  font-weight: bolder;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.app__createForum--content .form form div input {
  display: block;
  width: 100%;
  background-color: #e1e1e1;
  border: none;
  outline: none;
  height: 24px;
  width: 100%;
  border-radius: 5px;
}
.app__createForum--content .form form div textarea {
  background-color: #e1e1e1;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
}
.app__createForum--content .form form div select {
  background-color: #e1e1e1;
  width: 100%;
  border: none;
  outline: none;
  height: 24px;
  border-radius: 5px;
}
.app__createForum--content .form form div #level {
  margin-bottom: 100px;
}
.app__createForum--content .form form button {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: red;
  border-radius: 26px;
  padding: 5px 15px;
  border: none;
  color: #ffff;
  text-transform: capitalize;
  font-weight: bolder;
  margin: 20px;
}
.app__forums {
  background-color: #fff;
}
.app__forums--header {
  height: 35vh;
  background-image: url(../../img/register.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__forums--header .title {
  margin-top: 8%;
  text-transform: capitalize;
  font-weight: bolder;
}
.app__forums--content {
  height: 80%;
}
.app__forums--content .form {
  height: 50vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.app__forums--content .form .title {
  background-color: red;
  width: 70%;
  height: 10%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  padding-top: 1%;
}
.app__forums--content .form h2 {
  background-color: #c4c4c4;
  width: 50%;
  min-width: max-content;
  height: 2em;
  font-size: 1.5em;
  border-radius: 10px;
  text-align: center;
  padding-top: 0.5em;
}
.app__forums--content .form h2 a {
  color: black;
  text-decoration: none;
}
.app__physical {
  background-color: #fff;
}
.app__physical--header {
  height: 35vh;
  background-image: url(../../img/register.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__physical--header .title {
  margin-top: 8%;
  text-transform: capitalize;
  font-weight: bolder;
}
.app__physical--content {
  height: 80%;
}
.app__physical--content .form {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__physical--content .form div {
  width: 80%;
  height: 70%;
  background: #c4c4c4;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__physical--content .form div p {
  width: 65%;
  height: 50%;
  text-align: center;
  font-size: 1.5em;
  font-weight: bolder;
  padding: 20px 0;
}
.app__physical--content .back a {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: red;
  border-radius: 26px;
  padding: 5px 15px;
  color: #ffff;
  text-transform: capitalize;
  font-weight: bolder;
  margin: 20px;
  text-decoration: none;
}
.app__digital {
  background-color: #fff;
}
.app__digital--header {
  height: 35vh;
  background-image: url(../../img/register.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__digital--header .title {
  margin-top: 8%;
  text-transform: capitalize;
  font-weight: bolder;
}
.app__digital--content {
  height: 80%;
}
.app__digital--content .form {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__digital--content .form div {
  width: 80%;
  height: 70%;
  background: #c4c4c4;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__digital--content .form div p {
  width: 65%;
  height: 50%;
  text-align: center;
  font-size: 1.5em;
  font-weight: bolder;
  padding: 20px 0;
}
.app__digital--content .back a {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: red;
  border-radius: 26px;
  padding: 5px 15px;
  color: #ffff;
  text-transform: capitalize;
  font-weight: bolder;
  margin: 20px;
  text-decoration: none;
}
.app__teams {
  background-color: #fff;
}
.app__teams--header {
  height: 35vh;
  background-image: url(../../img/register.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__teams--header .title {
  margin-top: 8%;
  text-transform: capitalize;
  font-weight: bolder;
}
.app__teams--content {
  height: 65vh;
}
.app__teams--content .pagination {
  height: 4vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 120px 0 0;
}
.app__teams--content .pagination p {
  margin: 0 5px;
  padding: 3px 8px;
  border-radius: 50%;
  background-color: #D2D6DC;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__teams--content .pagination p img {
  height: 2.4vh;
}
.app__teams--content .pagination .reverse img {
  transform: rotate(-180deg);
}
.app__teams--content .content {
  height: 61vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__teams--content .content .form {
  width: 15%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.app__teams--content .content .form h4 {
  text-align: center;
  width: 100%;
  height: 7%;
}
.app__teams--content .content .form form {
  width: 100%;
  height: 93%;
}
.app__teams--content .content .form form .search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__teams--content .content .form form .search div {
  background-color: #E9EEF6;
  width: 85%;
  height: 20px;
  border-radius: 26px;
  padding: 0 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__teams--content .content .form form .search div button {
  border: none;
  background-color: #E9EEF6;
  border: none;
  outline: none;
  width: 5%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.app__teams--content .content .form form .search div button img {
  width: 13px;
  height: auto;
}
.app__teams--content .content .form form .search div input {
  width: 95%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 26px;
  background-color: #E9EEF6;
  padding: 0 0 0 10px;
}
.app__teams--content .content .form form .selected {
  height: 10%;
  margin: 20% 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.app__teams--content .content .form form .selected select {
  width: 85%;
  height: 20px;
}
.app__teams--content .content .player {
  width: 85%;
  height: 100%;
  background-color: #D2D6DC;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
.app__teams--content .content .player .card {
  margin: 6px 10px;
  width: calc((85vw - 120px) / 5);
  height: calc((100% - 20px) / 2);
}
.app__teams--content .content .player .card a {
  display: block;
  height: 100%;
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: capitalize;
  background-color: white;
  border-radius: 0 0 10px 10px;
}
.app__teams--content .content .player .card a .header {
  height: 25%;
  background-image: url(../../img/player.png);
  background-position: center;
  background-size: cover;
}
.app__teams--content .content .player .card a .content {
  background-color: white;
  height: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 0 0 10px 10px;
}
.app__players {
  background-color: #fff;
}
.app__players--header {
  height: 35vh;
  background-image: url(../../img/register.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__players--header .title {
  margin-top: 8%;
  text-transform: capitalize;
  font-weight: bolder;
}
.app__players--content {
  height: 65vh;
}
.app__players--content .pagination {
  height: 4vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 120px 0 0;
}
.app__players--content .pagination p {
  margin: 0 5px;
  padding: 3px 8px;
  border-radius: 50%;
  background-color: #D2D6DC;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__players--content .pagination p img {
  height: 2.4vh;
}
.app__players--content .pagination .reverse img {
  transform: rotate(-180deg);
}
.app__players--content .content {
  height: 61vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__players--content .content .form {
  width: 15%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.app__players--content .content .form h4 {
  text-align: center;
  width: 100%;
  height: 7%;
}
.app__players--content .content .form form {
  width: 100%;
  height: 93%;
}
.app__players--content .content .form form .search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__players--content .content .form form .search div {
  background-color: #E9EEF6;
  width: 85%;
  height: 20px;
  border-radius: 26px;
  padding: 0 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__players--content .content .form form .search div button {
  border: none;
  background-color: #E9EEF6;
  border: none;
  outline: none;
  width: 5%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.app__players--content .content .form form .search div button img {
  width: 13px;
  height: auto;
}
.app__players--content .content .form form .search div input {
  width: 95%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 26px;
  background-color: #E9EEF6;
  padding: 0 0 0 10px;
}
.app__players--content .content .form form .selected {
  height: 10%;
  margin: 20% 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.app__players--content .content .form form .selected select {
  width: 85%;
  height: 20px;
}
.app__players--content .content .player {
  width: 85%;
  height: 100%;
  background-color: #D2D6DC;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
.app__players--content .content .player .card {
  margin: 6px 10px;
  width: calc((85vw - 120px) / 5);
  height: calc((100% - 20px) / 2);
}
.app__players--content .content .player .card a {
  display: block;
  height: 100%;
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: capitalize;
  background-color: white;
  border-radius: 0 0 10px 10px;
}
.app__players--content .content .player .card a .header {
  height: 25%;
  background-image: url(../../img/player.png);
  background-position: center;
  background-size: cover;
}
.app__players--content .content .player .card a .content {
  background-color: white;
  height: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 0 0 10px 10px;
}
.app__player {
  color: black;
  background-color: #fff;
  height: 100vh;
  padding-top: 8vh;
}
.app__player--title {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0 0 0 8%;
}
.app__player--title h1 {
  text-transform: capitalize;
  font-size: 3em;
}
.app__player--title h3 {
  text-transform: capitalize;
  color: red;
  font-size: 1.5em;
}
.app__player--content {
  height: 70%;
  padding-left: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app__player--content .image {
  width: 30%;
  height: 100%;
}
.app__player--content .text {
  width: 70%;
  height: max-content;
  align-self: end;
  margin-bottom: 10%;
}
.app__player--content .text h3 {
  text-transform: capitalize;
  margin: 10px;
  font-size: 1.8em;
}
.app__player--content .text p {
  font-weight: bolder;
  margin: 10px;
}
.app__player--btn {
  display: flex;
  justify-content: end;
  align-items: center;
}
.app__player--btn p {
  padding: 10px 40px;
  margin: 0 20px;
  background-color: red;
  border-radius: 10px;
  color: white;
  text-transform: capitalize;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
