@use "./pallette" as *;

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $app;
}

.app {
  height: auto;
  width: 100%;
  overflow: hidden;
  background-image: $homeBackgroundImage;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-attachment: fixed;
  font-family: Roboto;

  &__header {
    width: 100%;
    height: 8vh;
    background-color: $homeHeaderBackgroundColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;

    .title {
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 140px;
      }
    }

    .nav {
      // padding-right: 5%;
      width: 65%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: $homeColor;

      font-style: normal;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      & > p {
        width: min-content;
        a {
          color: white;
          text-decoration: none;
        }
      }

      &__connected {
        width: 40%;
        position: relative;
        &:hover {
          .card {
            height: max-content;
            pointer-events: initial;
            opacity: 1;
            p {
              a {
                opacity: 1;
              }

              &:last-child {
                opacity: 1;
              }
            }
          }
        }
        .title {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;

          .img1 {
            width: 15%;
          }

          p {
            width: 60%;
            padding: 0;
            font-size: 0.8em;
            text-transform: capitalize;
            font-weight: bolder;
          }

          .img2 {
            width: 8%;
          }
        }

        .card {
          position: absolute;
          background-color: white;
          width: 60%;
          left: 23%;
          height: 0px;
          pointer-events: none;
          opacity: 0;
          transition: all 0.4s;
          p {
            margin: 10px;
            a {
              font-size: 0.9em;
              color: black;
              text-decoration: none;
              text-transform: capitalize;
              font-weight: bolder;

              &:hover {
                text-decoration: underline;
                transition: all 0.3s;
              }
            }

            &:last-child {
              background-color: $app;
              border-radius: 26px;
              width: 50%;
              padding: 5px;
              position: relative;
              left: 20%;
              color: #fff;
              opacity: 0;
            }
          }
        }
      }
      p:nth-child(4) {
        background-color: $app;
        border-radius: 26px;
        padding: 5px 15px;
        width: min-content;
        a {
          color: inherit;
          text-decoration: none;
        }
      }

      P:last-child {
        width: min-content;

        background-color: $homeColor;
        color: $homeBackgroundColor;
        border-radius: 26px;
        padding: 5px 15px;

        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }

  &__home {
    height: 100vh;
    width: 100%;
    padding-top: 10%;
    &--content {
      height: 90%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .title {
        color: $homeColor;
        text-transform: capitalize;
        font-weight: bolder;
      }

      .form {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        div {
          background-color: $homeColor;
          width: 65%;
          height: 50%;
          border-radius: 26px;
          padding: 0 0 0 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          button {
            border: none;
            background-color: $homeColor;
            border: none;
            outline: none;
            width: 5%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 45%;
              height: auto;
            }
          }
          input {
            width: 95%;
            height: 100%;
            border: none;
            outline: none;
            border-radius: 26px;
            background-color: $homeColor;
            padding: 0 0 0 10px;
          }
        }
      }
    }
  }

  &__slide {
    height: 100vh;
    width: 100%;

    &--title {
      height: 37%;
      display: flex;
      justify-content: center;
      align-items: center;
      h1 {
        color: $homeColor;
        font-weight: bolder;
        font-size: 3em;
      }
    }

    &--slide {
      height: 60%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .container {
        width: 75%;
        height: 75%;
        border-radius: 26px;
        position: relative;
        overflow: hidden;
        .prev {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(0, -50%);
          width: 50px;
          height: 50px;
          z-index: 100;
          margin: 10px;
        }
        .next {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(0, -50%) rotate(-180deg);
          width: 50px;
          height: 50px;
          z-index: 100;
          margin: 10px;
        }
        .wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          height: 100%;
          width: 100%;
          transition: all 1s;
          & > * {
            position: relative;
            height: 100%;
            width: 100%;
            border-radius: 26px;
            img {
              height: 100%;
              width: 100%;
            }
          }

          &__one::after {
            content: "Discuss a topic with other players in whatever field in our custom forums.";
            position: absolute;
            top: 50%;
            left: 50%;
            color: $homeColor;
            font-size: 3em;
            font-weight: bolder;
            text-transform: capitalize;
            transform: translate(-50%, -50%);
            width: 90%;
            height: 50%;
            text-align: center;
          }

          &__two::after {
            content: "You can create a team or join a team with a simple click thanks to the cards display system. ";
            position: absolute;
            top: 50%;
            left: 50%;
            color: $homeColor;
            font-size: 3em;
            font-weight: bolder;
            text-transform: capitalize;
            transform: translate(-50%, -50%);
            width: 90%;
            height: 50%;
            text-align: center;
          }

          &__three::after {
            content: "Find a player to play with in seconds in whatever game you like.";
            position: absolute;
            top: 50%;
            left: 50%;
            color: $homeColor;
            font-size: 3em;
            font-weight: bolder;
            text-transform: capitalize;
            transform: translate(-50%, -50%);
            width: 90%;
            height: 50%;
            text-align: center;
          }
        }
      }
    }

    &--footer {
      height: 3%;
      background-color: red;
      text-align: center;
      color: $homeColor;
    }
  }

  &__register {
    height: 100vh;
    background-color: #fff;
    position: relative;
    &--header {
      height: 35%;
      background-image: url(../../img/register.png);
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;

      .title {
        margin-top: 8%;
        text-transform: capitalize;
        font-weight: bolder;
      }
    }

    &--content {
      height: 75%;

      display: flex;
      justify-content: center;
      align-items: center;

      .form {
        height: 80%;
        width: 90%;

        form {
          position: relative;
          div {
            margin: 2%;
            label {
              text-transform: capitalize;
              font-weight: bolder;
              font-size: 1.3em;
              display: inline-block;
              width: 25%;
            }

            input {
              border: none;
              height: 1.6em;
              display: inline-block;
              width: 20%;
              background-color: #c4c4c4;
            }
          }
          button {
            position: absolute;
            right: 0;
            background-color: $app;
            border-radius: 26px;
            padding: 5px 15px;
            border: none;
            color: $homeColor;
            text-transform: capitalize;
            font-weight: bolder;
          }
        }
      }
    }

    &--alert {
      position: absolute;
      right: 25%;
      top: 35%;
      background-color: #ca0909b4;
      border: 2px solid red;
      color: white;
      width: 50vw;
      height: max-content;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        margin: 5px 20px;
        color: white;
        text-transform: uppercase;
        font-weight: bolder;
      }
    }
  }

  &__login {
    height: 100vh;
    background-color: #fff;
    position: relative;
    &--header {
      height: 35%;
      background-image: url(../../img/register.png);
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;

      .title {
        margin-top: 8%;
        text-transform: capitalize;
        font-weight: bolder;
      }
    }

    &--content {
      height: 75%;

      display: flex;
      justify-content: center;
      align-items: center;

      .form {
        height: 80%;
        width: 90%;

        form {
          position: relative;
          div {
            margin: 2%;
            label {
              text-transform: capitalize;
              font-weight: bolder;
              font-size: 1.3em;
              display: inline-block;
              width: 15%;
            }

            input {
              border: none;
              height: 1.6em;
              display: inline-block;
              width: 20%;
              background-color: #c4c4c4;
            }

            button {
              background-color: $app;
              border-radius: 26px;
              padding: 5px 15px;
              border: none;
              color: $homeColor;
              text-transform: capitalize;
              font-weight: bolder;
            }
          }
        }
      }
    }

    &--alert {
      position: absolute;
      right: 25%;
      top: 35%;
      background-color: #84cc17b1;
      border: 2px solid green;
      color: black;
      width: 50vw;
      height: max-content;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        margin: 5px 20px;
        color: white;
        text-transform: uppercase;
        font-weight: bolder;
      }
    }
    &--error {
      position: absolute;
      right: 25%;
      top: 35%;
      background-color: #ca0909b4;
      border: 2px solid red;
      color: white;
      width: 50vw;
      height: max-content;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        margin: 5px 20px;
        color: white;
        text-transform: uppercase;
        font-weight: bolder;
      }
    }
  }

  &__createPlayer {
    background-color: #fff;
    &--header {
      height: 35vh;
      background-image: url(../../img/register.png);
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;

      .title {
        margin-top: 8%;
        text-transform: capitalize;
        font-weight: bolder;
      }
    }

    &--add {
      width: 100%;
      height: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        padding: 10px;
        width: 50%;
        height: 100%;
        background-color: #84cc17b1;
      border: 2px solid green;
      color: black;
      text-align: center;
      font-weight: bolder;
      font-size: 1.2em;
      }
    }

    &--content {
      height: 80%;

      .form {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        form {
          height: 100%;
          width: 30vw;
          .logo {
            .wrapper {
              width: 140px;
              height: 140px;
              margin: auto;
              border-radius: 50%;
              background-image: url(../../img/create.png);
              background-position: center;
              background-size: cover;
              position: relative;
              overflow: hidden;

              &::before {
                content: " ";
                width: 30px;
                height: 30px;
                position: absolute;
                bottom: 15%;
                left: 50%;
                transform: translate(-50%, 0);
                background-image: url(../../img//profile.png);
                background-size: cover;
                background-position: center;
              }
              .file {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0);
                width: 100%;
                height: 60px;
                color: #ffffff67;
                background-color: #ffffff67;
                &::-webkit-file-upload-button {
                  visibility: hidden;
                }
              }
            }
          }
          div {
            margin: 3vh 0;
            label {
              display: block;
              text-align: center;
              font-size: 1.4em;
              font-weight: bolder;
              margin-bottom: 20px;
              text-transform: capitalize;
            }
            input {
              display: block;
              width: 100%;
              background-color: #e1e1e1;
              border: none;
              outline: none;
              height: 24px;
              width: 100%;
              border-radius: 5px;
            }

            textarea {
              background-color: #e1e1e1;
              width: 100%;
              border: none;
              outline: none;
              border-radius: 5px;
            }

            select {
              background-color: #e1e1e1;
              width: 100%;
              border: none;
              outline: none;
              height: 24px;
              border-radius: 5px;
            }

            #level {
              margin-bottom: 100px;
            }
          }
          button {
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: $app;
            border-radius: 26px;
            padding: 5px 15px;
            border: none;
            color: $homeColor;
            text-transform: capitalize;
            font-weight: bolder;
            margin: 20px;
          }
        }
      }
    }
  }

  &__createTeam {
    background-color: #fff;
    &--header {
      height: 35vh;
      background-image: url(../../img/register.png);
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;

      .title {
        margin-top: 8%;
        text-transform: capitalize;
        font-weight: bolder;
      }
    }

    &--content {
      height: 80%;

      .form {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        form {
          height: 100%;
          width: 30vw;
          .logo {
            .wrapper {
              width: 140px;
              height: 140px;
              margin: auto;
              border-radius: 50%;
              background-image: url(../../img/create.png);
              background-position: center;
              background-size: cover;
              position: relative;
              overflow: hidden;

              &::before {
                content: " ";
                width: 30px;
                height: 30px;
                position: absolute;
                bottom: 15%;
                left: 50%;
                transform: translate(-50%, 0);
                background-image: url(../../img//profile.png);
                background-size: cover;
                background-position: center;
              }
              .file {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0);
                width: 100%;
                height: 60px;
                color: #ffffff67;
                background-color: #ffffff67;
                &::-webkit-file-upload-button {
                  visibility: hidden;
                }
              }
            }
          }
          div {
            margin: 3vh 0;
            label {
              display: block;
              text-align: center;
              font-size: 1.4em;
              font-weight: bolder;
              margin-bottom: 20px;
              text-transform: capitalize;
            }
            input {
              display: block;
              width: 100%;
              background-color: #e1e1e1;
              border: none;
              outline: none;
              height: 24px;
              width: 100%;
              border-radius: 5px;
            }

            textarea {
              background-color: #e1e1e1;
              width: 100%;
              border: none;
              outline: none;
              border-radius: 5px;
            }

            select {
              background-color: #e1e1e1;
              width: 100%;
              border: none;
              outline: none;
              height: 24px;
              border-radius: 5px;
            }

            #level {
              margin-bottom: 100px;
            }
          }
          button {
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: $app;
            border-radius: 26px;
            padding: 5px 15px;
            border: none;
            color: $homeColor;
            text-transform: capitalize;
            font-weight: bolder;
            margin: 20px;
          }
        }
      }
    }
  }

  &__createForum {
    background-color: #fff;
    &--header {
      height: 35vh;
      background-image: url(../../img/register.png);
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;

      .title {
        margin-top: 8%;
        text-transform: capitalize;
        font-weight: bolder;
      }
    }

    &--content {
      height: 80%;

      .form {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        form {
          height: 100%;
          width: 30vw;
          .logo {
            .wrapper {
              width: 140px;
              height: 140px;
              margin: auto;
              border-radius: 50%;
              background-image: url(../../img/create.png);
              background-position: center;
              background-size: cover;
              position: relative;
              overflow: hidden;

              &::before {
                content: " ";
                width: 30px;
                height: 30px;
                position: absolute;
                bottom: 15%;
                left: 50%;
                transform: translate(-50%, 0);
                background-image: url(../../img//profile.png);
                background-size: cover;
                background-position: center;
              }
              .file {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0);
                width: 100%;
                height: 60px;
                color: #ffffff67;
                background-color: #ffffff67;
                &::-webkit-file-upload-button {
                  visibility: hidden;
                }
              }
            }
          }
          div {
            margin: 3vh 0;
            label {
              display: block;
              text-align: center;
              font-size: 1.4em;
              font-weight: bolder;
              margin-bottom: 20px;
              text-transform: capitalize;
            }
            input {
              display: block;
              width: 100%;
              background-color: #e1e1e1;
              border: none;
              outline: none;
              height: 24px;
              width: 100%;
              border-radius: 5px;
            }

            textarea {
              background-color: #e1e1e1;
              width: 100%;
              border: none;
              outline: none;
              border-radius: 5px;
            }

            select {
              background-color: #e1e1e1;
              width: 100%;
              border: none;
              outline: none;
              height: 24px;
              border-radius: 5px;
            }

            #level {
              margin-bottom: 100px;
            }
          }
          button {
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: $app;
            border-radius: 26px;
            padding: 5px 15px;
            border: none;
            color: $homeColor;
            text-transform: capitalize;
            font-weight: bolder;
            margin: 20px;
          }
        }
      }
    }
  }

  &__forums {
    background-color: #fff;
    &--header {
      height: 35vh;
      background-image: url(../../img/register.png);
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;

      .title {
        margin-top: 8%;
        text-transform: capitalize;
        font-weight: bolder;
      }
    }

    &--content {
      height: 80%;

      .form {
        height: 50vh;
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

        .title {
          background-color: $app;
          width: 70%;
          height: 10%;
          border-radius: 10px;
          text-align: center;
          color: #fff;
          padding-top: 1%;
        }

        h2 {
          background-color: #c4c4c4;
          width: 50%;
          min-width: max-content;
          height: 2em;
          font-size: 1.5em;
          border-radius: 10px;
          text-align: center;
          padding-top: 0.5em;
          a {
            color: black;
            text-decoration: none;
          }
        }
      }
    }
  }

  &__physical {
    background-color: #fff;
    &--header {
      height: 35vh;
      background-image: url(../../img/register.png);
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;

      .title {
        margin-top: 8%;
        text-transform: capitalize;
        font-weight: bolder;
      }
    }

    &--content {
      height: 80%;

      .form {
        width: 100%;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;

        div {
          width: 80%;
          height: 70%;
          background: #c4c4c4;
          border-radius: 10px;

          display: flex;
          justify-content: center;
          align-items: center;
          p {
            width: 65%;
            height: 50%;
            text-align: center;
            font-size: 1.5em;
            font-weight: bolder;
            padding: 20px 0;
          }
        }
      }
      .back {
        a {
          position: absolute;
          left: 0;
          bottom: 0;
          background-color: $app;
          border-radius: 26px;
          padding: 5px 15px;
          color: $homeColor;
          text-transform: capitalize;
          font-weight: bolder;
          margin: 20px;
          text-decoration: none;
        }
      }
    }
  }

  &__digital {
    background-color: #fff;
    &--header {
      height: 35vh;
      background-image: url(../../img/register.png);
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;

      .title {
        margin-top: 8%;
        text-transform: capitalize;
        font-weight: bolder;
      }
    }

    &--content {
      height: 80%;

      .form {
        width: 100%;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;

        div {
          width: 80%;
          height: 70%;
          background: #c4c4c4;
          border-radius: 10px;

          display: flex;
          justify-content: center;
          align-items: center;
          p {
            width: 65%;
            height: 50%;
            text-align: center;
            font-size: 1.5em;
            font-weight: bolder;
            padding: 20px 0;
          }
        }
      }
      .back {
        a {
          position: absolute;
          left: 0;
          bottom: 0;
          background-color: $app;
          border-radius: 26px;
          padding: 5px 15px;
          color: $homeColor;
          text-transform: capitalize;
          font-weight: bolder;
          margin: 20px;
          text-decoration: none;
        }
      }
    }
  }

  &__teams {
    background-color: #fff;
    &--header {
      height: 35vh;
      background-image: url(../../img/register.png);
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;

      .title {
        margin-top: 8%;
        text-transform: capitalize;
        font-weight: bolder;
      }
    }

    &--content {
      height: 65vh;

      .pagination{
        height: 4vh;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 120px 0 0;
        p {
          margin: 0 5px;
          padding: 3px 8px;
          border-radius: 50%;
          background-color: #D2D6DC;
          display: flex;
          justify-content: center;
          align-items: center;           
          img {
            height: 2.4vh;
          }
        }

        .reverse {
          img {
            transform: rotate(-180deg);

          }
        }

      }

      .content {
        height: 61vh;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        .form {
          width: 15%;
          height: 100%;
          
          border-radius: 50%;

          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          h4 {
            text-align: center;
            width: 100%;
            height: 7%;
          }

          form {
            width: 100%;
            height: 93%;
            .search {
              display: flex;
              justify-content: center;
              align-items: center;
              div {
                background-color: #E9EEF6;
                width: 85%;
                height: 20px;
                border-radius: 26px;
                padding: 0 0 0 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                button {
                  border: none;
                  background-color: #E9EEF6;
                  border: none;
                  outline: none;
                  width: 5%;
                  display: flex;
                  justify-content:end;
                  align-items: center;
                  img {
                    width: 13px;
                    height: auto;
                  }
                }
                input {
                  width: 95%;
                  height: 100%;
                  border: none;
                  outline: none;
                  border-radius: 26px;
                  background-color: #E9EEF6;
                  padding: 0 0 0 10px;
                }
              }
            }

            .selected {
              height: 10%;
              margin: 20% 0;
              display: flex;
              justify-content: center;
              align-items: flex-start;

              select {
                width: 85%;
                height: 20px;

                
              }

            }
          }

          
        }

        .player {
          width: 85%;
          height: 100%;
          background-color: #D2D6DC;
          padding: 10px;
          display: flex;
          flex-wrap: wrap;
          .card {
            margin: 6px 10px;
            width: calc((85vw - 120px) / 5);
            height: calc((100% - 20px)  / 2);
            a {
              display: block;
              height: 100%;
              text-decoration: none;
              color: black;
              font-weight: bold;
              text-transform: capitalize;
              background-color: white;
              border-radius: 0 0 10px 10px;
              .header {
                height: 25%;
                background-image: url(../../img/player.png);
                background-position: center;
                background-size: cover;
              }

              .content {
                background-color:white;
                height: 75%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
                border-radius: 0 0 10px 10px;
              }
            }
          }
        }
      }
    }
  }

  &__players {
    background-color: #fff;
    &--header {
      height: 35vh;
      background-image: url(../../img/register.png);
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;

      .title {
        margin-top: 8%;
        text-transform: capitalize;
        font-weight: bolder;
      }
    }

    &--content {
      height: 65vh;

      .pagination{
        height: 4vh;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 120px 0 0;
        p {
          margin: 0 5px;
          padding: 3px 8px;
          border-radius: 50%;
          background-color: #D2D6DC;
          display: flex;
          justify-content: center;
          align-items: center;           
          img {
            height: 2.4vh;
          }
        }

        .reverse {
          img {
            transform: rotate(-180deg);

          }
        }

      }

      .content {
        height: 61vh;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        .form {
          width: 15%;
          height: 100%;
          
          border-radius: 50%;

          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          h4 {
            text-align: center;
            width: 100%;
            height: 7%;
          }

          form {
            width: 100%;
            height: 93%;
            .search {
              display: flex;
              justify-content: center;
              align-items: center;
              div {
                background-color: #E9EEF6;
                width: 85%;
                height: 20px;
                border-radius: 26px;
                padding: 0 0 0 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                button {
                  border: none;
                  background-color: #E9EEF6;
                  border: none;
                  outline: none;
                  width: 5%;
                  display: flex;
                  justify-content:end;
                  align-items: center;
                  img {
                    width: 13px;
                    height: auto;
                  }
                }
                input {
                  width: 95%;
                  height: 100%;
                  border: none;
                  outline: none;
                  border-radius: 26px;
                  background-color: #E9EEF6;
                  padding: 0 0 0 10px;
                }
              }
            }

            .selected {
              height: 10%;
              margin: 20% 0;
              display: flex;
              justify-content: center;
              align-items: flex-start;

              select {
                width: 85%;
                height: 20px;

                
              }

            }
          }

          
        }

        .player {
          width: 85%;
          height: 100%;
          background-color: #D2D6DC;
          padding: 10px;
          display: flex;
          flex-wrap: wrap;
          .card {
            margin: 6px 10px;
            width: calc((85vw - 120px) / 5);
            height: calc((100% - 20px)  / 2);
            a {
              display: block;
              height: 100%;
              text-decoration: none;
              color: black;
              font-weight: bold;
              text-transform: capitalize;
              background-color: white;
              border-radius: 0 0 10px 10px;
              .header {
                height: 25%;
                background-image: url(../../img/player.png);
                background-position: center;
                background-size: cover;
              }

              .content {
                background-color:white;
                height: 75%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
                border-radius: 0 0 10px 10px;
              }
            }
          }
        }
      }
    }
  }

  &__player {
    color: black;
   background-color: #fff;
   height: calc(100vh);
   padding-top: 8vh;

   &--title {
     height: 20%;
     display: flex;
     flex-direction: column;
     justify-content: end;
     padding: 0 0 0 8%;

     h1 {
       text-transform: capitalize;
       font-size: 3em;
     }

     h3{
       text-transform: capitalize;
       color: $app;
       font-size: 1.5em;
     }
   }

   &--content {
     height: 70%;
     padding-left: 20%;
     display: flex;
     align-items: center;
     justify-content: center;

     .image {
       width: 30%;
       height: 100%;
     }

     .text {
       width: 70%;
       height: max-content;
       align-self: end;
       margin-bottom: 10%;

       h3 {
         text-transform: capitalize;
         margin: 10px;
         font-size: 1.8em;
       }

       p {
         font-weight: bolder;
         margin: 10px;
       }
     }
   }

   &--btn {
     display: flex;
     justify-content: end;
     align-items: center;

     p {
       padding: 10px 40px;
       margin: 0 20px;
       background-color: $app;
       border-radius: 10px;
       color: white;
       text-transform: capitalize;
       cursor: pointer;
     }
   }
  }
}
